footer{
    margin-bottom: 0.5%;
}
.flexLogo{
    display: flex;
    margin: 0 3%;

}
.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.line {
    width: 80%;
    height: 2px;
    background-color: #B9CF3A;
    margin: 0;
    border: none;
    align-items: center;
  }

.line2 {
  width: 80%;
  height: 2px;
  background-color: #61B237;
  margin: 0;
  border: none;
  align-items: center;
}

.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
h4{
    color: #4b4b4b;
}

.t{
    color: black;
    font-weight: bold;
    padding-top: 0.5%;
    text-align: center;
}
.team {
    color: #B9CF3A;
    margin-left: 13%;
    font-family: "Cascadia Code",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
  }

.team2 {
    margin-left: 5%;
    color: #61B237;
    font-family: "Cascadia Code",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
  }

  .choix{
    color: #417526;
    margin-left: 18%;
    font-weight: bold;
    font-family: "Cascadia Code",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
  }
  
  .choix a {
    color: #417526;
    text-decoration: none;
    padding-right: 50px; /* Ajoute un espace de 50px à droite de chaque lien */
  }
  
  .choix a:hover {
    text-decoration: underline;
  }