<footer>
  <div class="logo">
    <hr class="line">
    <img
        src="assets/images/logo_Y.svg"
        alt="Yhost Logo"
        height="50px"
        width="80px" 
    />
    <hr class="line2">
  </div>
    <div class="container">
      <div class="row">
        <img class="flexLogo"
        src="assets/images/logo_entier_3_gradient.svg"
        alt="Yhost"
        height="75px"
        width="250px" 
        />
        <div class="team">
            <h4>Team</h4>
            <br>
            <p>CEO</p>
                <ul>
                    <li>BUERI Augustin</li>
                </ul>
            <br>
            <p>Infrastructure Team</p>
                <ul>
                    <li>BUERI Augustin</li>
                    <li>BILO Léa</li>
                </ul>
            <br>
        </div>
            <div class="team2">
                <p>Developer Team</p>
                <ul>
                    <li>LANCOSME Maxence</li>
                    <li>DEMONTIS Matisse</li>
                    <br>
                </ul>
                <p>Design Team</p>
                <ul>
                    <li>LESPINASSE Noémie</li>
                </ul>
            </div>
        </div>
    </div>
  </footer>