
<footer>

  <div class="logo">
    <hr class="line">
    <img
        src="assets/images/logo_Y.svg"
        alt="Yhost Logo"
        height="50px"
        width="80px" 
    />
    <hr class="line">
  </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
        <h4>Team</h4>
          <p>CEO</p>
            <ul>
                <li>BUERI Augustin</li>
            </ul>
        <p>Infrastructure Team</p>
            <ul>
                <li>BILO Léa</li>
            </ul>
        <p>Developer Team</p>
          <ul>
            <li>LANCOSME Maxence</li>
            <li>DEMONTIS Matisse</li>
          </ul>
        <p>Design Team</p>
          <ul>
              <li>LESPINASSE Noémie</li>
          </ul>
        </div>
        <div class="col-md-6">
          <h4>Contact</h4>
          <ul>
            <li>Location: Toulouse</li>
            <li>Email: contact@yhost.com</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>