.flexLogo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 3%;

}
.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.line {
    width: 80%;
    height: 2px;
    background-color: #B9CF3A;
    margin: 0;
    border: none;
    align-items: center;
  }

.line2 {
  width: 80%;
  height: 2px;
  background-color: #61B237;
  margin: 0;
  border: none;
  align-items: center;
}

.team{
    text-align: center;
    display: block;
}

.team2{
    text-align: right;
}

