<footer>
    <div class="logo">
      <hr class="line">
      <img src="assets/images/logo_Y.svg" alt="Yhost Logo" height="50px" width="80px" />
      <hr class="line2">
    </div>
    <div class="container">
      <img class="flexLogo" src="assets/images/logo_entier_3_gradient.svg" alt="Yhost" height="100px" width="300px" />
      <div class="team">
        <br>
        <h4>CEO</h4>
        <ul>
          <p>BUERI Augustin</p>
        </ul>
        <br>
        <h4>Infrastructure Team</h4>
        <ul>
          <p>BUERI Augustin</p>
          <p>BILO Léa</p>
        </ul>
        <br>
      </div>
        <div class="team2">
            <h4>Developer Team</h4>
                <ul>
                    <p>LANCOSME Maxence</p>
                    <p>DEMONTIS Matisse</p>
                    <br>
                </ul>
                <h4>Design Team</h4>
                    <ul>
                        <p>LESPINASSE Noémie</p>
                    </ul>
        </div>
        <div class="choix">
          <a href="#home"><p>Home</p></a>
          <a href="#price"><p>Price</p></a>
          <a href="#team"><p>Team</p></a>
          <a href="#contact"><p>Contact</p></a>
        </div>
    </div>
  </footer>