<section>
    <div class="button-style-splt" id="vm_debian">
        <h3>Debian</h3>
        <p>Simple Debian Hosting</p>
        <hr>
        <div class="Ram_selection">
            <p>Ram : </p> 
        
            <div class="selection">
            <input type="radio" id="D_ram256" name="D_ram" value="256">
            <label for="D_ram256"><p>256 MB</p></label>
            
            <input type="radio" id="D_ram512" name="D_ram" value="512">
            <label for="D_ram512"><p>512 MB</p></label>
            
            <input type="radio" id="D_ram1000" name="D_ram" value="1000">
            <label for="D_ram1000"><p>1 GB</p></label>
            
            <input type="radio" id="D_ram2000" name="D_ram" value="2000">
            <label for="D_ram2000"><p>2 GB</p></label>
            </div> 
        </div>
        <div class="Ram_selection">
            <p>Storage : </p>
        
            <div class="selection">
            <input type="radio" id="D_memory256GB" name="D_memory" value="256">
            <label for="D_memory256GB"><p>256 GB</p></label>
            
            <input type="radio" id="D_memory512GB" name="D_memory" value="512">
            <label for="D_memory512GB"><p>512 GB</p></label>
            
            <input type="radio" id="D_memory1TO" name="D_memory" value="1000">
            <label for="D_memory1TO"><p>1 TO</p></label>
            </div> 
        </div>
        <hr>
        <p>Price :</p>

    </div>
</section>