<header>
    <nav class="nav_top">
        <div class="logo">
            <img
                src="logo_entier_2.svg"
                alt="Yhost Logo"
                height="75px"
                width="250px" 
            />
        </div>
        <div class="logbutton">
            <a class="link link--metis">Home</a>
            <a class="link link--metis">About</a>
            <a class="link link--metis">Contact</a>
            <button class="custom-btn btn-1">Sign in</button>
            <button class="custom-btn btn-1">Sign up</button>
        </div>
    </nav>
</header>