<header>
    <nav class="nav_top">
        <div class="logo">
            <img
                src="assets/images/logo_entier_2.svg"
                alt="Yhost Logo"
                height="75px"
                width="250px" 
            />
        </div>
        <div class="logbutton">
            <a class="link link--metis">Home</a>
            <a class="link link--metis">Team</a>
            <a class="link link--metis">Price</a>
            <a class="link link--metis">Contact</a>
            <button class="custom-btn btn-1" (click)="openSigninDialog()">Sign in</button>
            <button class="custom-btn btn-1" (click)="openSignupDialog()">Sign up</button>
        </div>
    </nav>
</header>