<header>
    <nav class="nav_top">
        <div class="logo">
            <a href="index.html"><img src="logo_entier.jpg" alt="logo"></a>
        </div>
        <div>

        </div>
        <div class="logbutton">
            <a class="link link--metis">Home</a>
            <a class="link link--metis">About</a>
            <a class="link link--metis">Contact</a>
            <button class="custom-btn btn-1">Sign in</button>
            <button class="custom-btn btn-1">Sign up</button>
        </div>
    </nav>
</header>