<body>
<div class="parent">

<table class="tab">
    <tr>
        <td>
            <div class="button-67" id="vm_debian">
                <p>VM Debian</p><br>
            </div>
        </td>
        <td>
            <p>EXEMPLE TEXT</p>
        </td>

    </tr>
    <tr>
        <td>
            <p>
                EXEMPLE TEXT

            </p>
        </td>

        <td>
                <div class="button-67">
                    <p>VM WordPress</p>
                </div>
        </td>

    </tr>
</table>
</div>
</body>