<body>
    <div class="parent">

<table class="tab">
    <tr>
        <td>
            <div class="button-67" id="vm_debian">
                <p>VM Debian</p><br>
            </div>
        </td>
        <td>
            <p>EXEMPLE TEXT</p>
        </td>

    </tr>
    <tr>
        <td>
            <p>EXEMPLE TEXT</p>
        </td>
        <td>
            <div class="button-67">
                <p>despacito</p>
            </div>
        </td>

    </tr>
    <tr>
        <td>
            <div class="button-67">
                <p>despacito</p>
            </div>
        </td>
        <td>
            <p>EXEMPLE TEXT</p>
        </td>

    </tr>
</table>
</div>
</body>