<body>
<div class="parent">

    <section>
        <div class="button-67" id="vm_debian">
            <h3>Debian</h3>
            <p>Simple Debian Hosting</p>
            <p>Price :</p>
            <p>Ram :</p>
            <p>Storage :</p>
        </div>
                <p class="exemple text">
            EXEMPLE TEXT
        </p>
    </section>
    <section>
        <div class="button-67">
            <p>VM WordPress</p>
        </div>

        <p class="exemple text">
            EXEMPLE TEXT
        </p>

    </section>
</div>
</body>