<section>
    <div class="button-style-splt">
      <h3>WordPress</h3>
      <p>Simple WordPress Hosting</p>
      <hr>
      <div class="Ram_selection">
        <p>Ram : </p> 
        <div class="selection">
          <input type="radio" id="W_ram256" name="W_ram" value="256" (change)="calculatePrice()" [(ngModel)]="ramValue">
          <label for="W_ram256"><p>256 MB</p></label>
          <input type="radio" id="W_ram512" name="W_ram" value="512" (change)="calculatePrice()" [(ngModel)]="ramValue">
          <label for="W_ram512"><p>512 MB</p></label>
          <input type="radio" id="W_ram1000" name="W_ram" value="1000" (change)="calculatePrice()" [(ngModel)]="ramValue">
          <label for="W_ram1000"><p>1 GB</p></label>
          <input type="radio" id="W_ram2000" name="W_ram" value="2000" (change)="calculatePrice()" [(ngModel)]="ramValue">
          <label for="W_ram2000"><p>2 GB</p></label>
        </div> 
      </div>
      <div class="Ram_selection">
        <p>Storage : </p>
        <div class="selection">
            <input type="radio" id="W_cpu1" name="W_cpu" value="1" (change)="calculatePrice()" [(ngModel)]="memoryValue">
            <label for="W_cpu1"><p>1 to</p></label>
        
            <input type="radio" id="W_cpu2" name="W_cpu" value="2" (change)="calculatePrice()" [(ngModel)]="memoryValue">
            <label for="W_cpu2"><p>2 to</p></label>
        
            <input type="radio" id="W_cpu3" name="W_cpu" value="3" (change)="calculatePrice()" [(ngModel)]="memoryValue">
            <label for="W_cpu3"><p>3 to</p></label>
        </div> 
      </div>
      <hr>
      <div class="order">        
        <p>Price :</p>
        <p class="price">{{ price | currency:'USD':true:'1.2-2' }}</p>
      </div>
      <button class="Buy-button" (click)="deploy()">ORDER</button>
    </div>
  </section>
  