p {
    display: block;
    color: gray;
    font-size: 1.125rem;
    line-height: 24px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
  }
h3 {
    color: black;
    font-size: 2.027rem;
    line-height: 40px;
    font-weight: 500;
}

.button-style-splt {
    align-items: center;
    background: #f5f5fa;
    border: 0;
    border-radius: 8px;
    box-shadow: -10px -10px 30px 0 #fff,10px 10px 30px 0 #1d0dca17;
    box-sizing: border-box;
    color: #2a1f62;
    cursor: pointer;
    display: flex;
    font-family: "Cascadia Code",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
    font-size: 1rem;
    justify-content: center;
    line-height: 1.5rem;
    padding: 15px;
    position: relative;
    text-align: left;
    transition: .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: pre;
    width: max-content;
    word-break: normal;
    word-spacing: normal;
    display: block;

    width: fit-content;
    height: fit-content;
}
  
.button-style-splt:hover {
    background: #f8f8ff;
    box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;

    
}
  
@media (min-width: 768px) {
    .button-style-splt {
    padding: 24px;
    
    }
}
.Ram_selection{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 1rem 0;
    padding: 0;
  
  
  }
  .selection{
    /*display: none;*/
  }
  input[type="radio"] {
    display: none;
  }
  
  label {
    display: inline-block;
    padding: 1px 3px;
    border: 1px solid #ccc;
    margin-right: 6px;
    cursor: pointer;
  }
  
  input[type="radio"]:checked + label {
    background-color: lightblue;
  }

  hr {
    border: 1px solid #ccc;
    margin: 20px auto;
  }